@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

/* shared style */
.content{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
}

.none{
    display: none;
}
.btn{
      background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-radius: 10000px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 600;
    gap: 4px;
   
    cursor: pointer;
   transition: padding 3s linear ease-in 1000ms background-color 5s ease-in;
}

.btn{
    transition: transform .5s;
}
.btn:hover{
    transform: scale(1.05);
    background: linear-gradient(to top right,#9100F8,  #FB09B4,#F7E93F );
    box-shadow: 0 2px 10px 2px #9100F8  ;
     /* box-shadow: 0 4px 20px 6px #21527b; */
}
.btn1{
   background-color: transparent;
    padding: 12px 20px;
    border-radius: 10000px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00FF88;
    border: 1px solid #00FF88;
    font-weight: 600;
    gap: 4px;
    cursor: pointer;
}
.btn1{
    transition: transform .5s;
}
.btn1:hover{
    transform: scale(1.05);
     color: #00FF88;
     background: transparent;
    box-shadow: 0 2px 10px 2px #9100F8  ;
     /* box-shadow: 0 4px 20px 6px #21527b; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}

header, .Podcast,  .Features, .Host{
     background-color: #1A0B2E;
     padding-top: 30px;
     padding-bottom: 30px;
      border-bottom: 1px solid rgb(173, 170, 170);
      border-style: none;
}




.navbar{
  
    color: #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.nav-head span {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text; 
    color: transparent; 
}


 .option li {
    list-style: none;
    margin-left: 32px;
}
 .option li a{
    text-decoration: none;
    color: #ffffffe5;
 }

 .nav-btn{
    display: inline;
   

 }
 .hamburger-menu{
    display: none;
 }


.btn-section{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.header1{
    background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  border-top: 1px solid #3f1279;
}

.header-image{
     padding-top: 300px;
    padding-left: 615px;
}

.img-box{
    position: relative;
}
.circle{
  
    top: -200px;
  padding-left: 10px;
}

.microphone{
 position: absolute;
 top: 250px;
 left: 740px;

}
.new{ 
    position: absolute;
    top: 200px;
    left: 870px;
}
.btn3{
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.content-section{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
.content-section h1{
    font-size: 3.75rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.content-section p{
    color: #FFFFFF;
    opacity: .8;
    margin-bottom: 24px;
}

.botton{
  justify-content: center;
    gap: 20px;
}

/* Podcast section */

.podcast-content{
    color: #FFFFFF;
    max-width: 720px;
    margin: 50px auto 30px auto;
    justify-content: center;
    text-align: center;

}

.podcast-content h1{
    color: #FFFFFF;
   font-size: 3rem;
   font-weight: bold;
   

}


.paragraph{
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

hr{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #848080 ;
}

.rating{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
   border-top: 1px solid #fafafa34;
}

.rating-card {
max-width: 240px;
margin: 0 auto;
}
.rating-card h1{
color: #FFFFFF;
font-size: 3rem;
margin-top: 50px;
margin-bottom: 16px;
}




/* Choose-Techwave section */

.Choose-Techwave{
     background-color: #230E3D;
     border-style: none;
     padding-bottom: 120px;
}
 .grid-card{
    max-width: 1200px;
     margin: 0 auto;
   color: #FFFFFF;
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}


.choose-h2{
   padding-top: 120px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
   
}




.box img,h2,p{
    margin-bottom: 16px;
}



.all-margin h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.all-margin, .yt-cont-padding, .challenge-section, .footer-section p{
    line-height: 24px;
    color: #FFFFFF;
    opacity: .6;
}
.card-1{
   grid-row: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
   padding: 40px;
   display: flex;
    justify-content: center;
    align-items: center;
  

}
.card{
    transition: transform .5s;
}
.card:hover {
transform: scale(1.05); 
box-shadow: 0 4px 20px rgba(103, 67, 151, 0.4);
cursor: pointer;

}

.card-2{
       grid-column: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}
.card-3{
       grid-column: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}
.card-4{
       grid-column: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}
.card-5{
      
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}


/* 
Features Episodes section */
.Features{
    padding-top: 100px;
    padding-bottom: 100px;
}
.episodes, .challenge-section{
    max-width: 1200px;
     margin: 0 auto;
   color: #FFFFFF;
}
.episodes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
   
}
.yt-cards{
background-color: #250D44;
 border-radius: 20px;
cursor: pointer;
}
.yt-cards{
    transition: transform .5s;
}

.yt-cards:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 27px 3px rgba(85, 48, 134, 0.4);;
}

.yt-cards iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px ;
}
.yt-cont-padding{
    padding: 24px;
}
.yt-cont-padding h3,p{
    margin-bottom: 12px;
}

.time{
    display: flex;
    justify-content:start;
    align-items:center;
    
    gap: 10px;
    
}
.time>p{
    color: #00FF88;
   
}


/* challenge-section */
.Host{
    padding-bottom: 100px;
}
.challenge-section{
   
display: flex;
justify-content: space-between;
align-items: center;
gap: 24px;
padding: 40px;

background-color: #35116540;
border-radius: 24px;
}
.challenge-section h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.icons{
    
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.icons .images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72 ;
    border-radius: 50%;
    padding-top: 15px;

}
.images img{
    display: flex;
    justify-content: center;
    align-items: center;
       margin-bottom: 16px;
}



/* Footer  section */

.footer-section{

      background-color: #230E3D;
     border-style: none;
     text-align: center;
     padding-bottom: 120px;
     padding-top: 130px;
     background-image: url(../assets/footer-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
}

.footer-section h1{
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
    margin-bottom: 20px;
    padding-right: 30px;
    cursor: pointer;
}

.footer-per-icons{
   
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-per-icons img{
    margin-bottom: 10px;
}
.fevicon{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-left: 60px;
  gap: 30px;
}

.caption{
    line-height: 24px;
    color: #FAFAFA;
    opacity: .6;
}



















 /* responsive-section */
@media screen  and (max-width:576px) {
/* nav-section */
 .navbar{
    color: #FFFFFF;
    margin: 20px 20px;
    justify-content: space-between;
    align-items: center;
}
 
    .nav-option{
    display: none;
 }

 .hamburger-menu{
    display: inline;
 }

 .nav-btn{
    display: none;
 }
 .header1 {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    margin-bottom: 30px;
  /* background-position: center; */
}
.header-image {
   margin-top: 0px;
    padding-top: 100px;
    padding-left: 205px;
  
}

.img-box img{
    width: 200px;
    height: 200px;
}
.circle {
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0px;
}

.img-box {
    position: relative;
}
.microphone img{
    width: 80px;
    height: 100px;
}

    .microphone {
        position: absolute;
        top: 350px;
        left: 265px;
    }

    .new {
    position: absolute;
    top: 310px;
    left: 340px;
}
.content-section {
    max-width: 440px;
    margin: 100px auto 0 auto;
   
    text-align: center;
}
/* Podcast section */
.podcast-content{
    color: #FFFFFF;
    max-width: 400px;
    margin: 0px auto;
    justify-content: center;
    text-align: center;

}
.content{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.paragraph {
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 20px;
}
hr{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #848080 ;
}
.rating {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     text-align: center;
}
.rating-card {
    max-width: 180px;
    margin: 0 auto;
}
.rating-card h1 {
    color: #00FF88;
    font-size: 2.5rem;
}

/* Choose-Techwave section */
.choose-h2 {
    padding-top: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}
.grid-card{
    max-width: 500px;
     margin: 0 auto;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 16px;
  
   
}

.card-1 {
  grid-row: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2{
       grid-column: span 1;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 24px;
}
.card-3{
       grid-column: span 1;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 24px;
}
.card-4{
       grid-column: span 1;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 24px;
}


/* 
Features Episodes section */

.episodes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 500px;
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.yt-cards iframe{
    width: 500px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px ;
}



/* challenge-section */
.challenge-section {
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 40px;
    background-color: #35116540;
    border-radius: 24px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Host {
    background-color: #1A0B2E;
    padding-top: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(173, 170, 170);
    border-style: none;
    
}
.challenge-section{
   
max-width: 500px;
margin: 0 auto;

}

/* footer-section */
.footer-section {
    background-color: #230E3D;
    border-style: none;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.footer-section h1{
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 24px;
    padding-left: 15px;
}
.footer-icons {
    flex-wrap: wrap;
    max-width: 350px;
    margin: 0 auto;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 24px; */
}
.footer-per-icons {
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
}
}
@media screen and (min-width:577px) and (max-width:992px) {
   

.navbar {
    color: #FFFFFF;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header1 {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
     background-position:center;
    background-size: contain;
    margin-bottom: 30px;
    border-top: 1px solid #3f1279;
}
.img-box img{
    width: 250px;
    height: 250px;
}
.microphone img{
    width: 100px;
    height: 150px;
}

.circle {
    top: -130px;
    bottom: 0px;
    left: -250px;
    right: 0px;
    padding-left: 0px;
}
.microphone {
        position: absolute;
        top: 330px;
        left: 440px;
    }
    .new {
    position: absolute;
    top: 300px;
    left: 550px;
}
.grid-card {
    max-width: 950px;
    margin: 0 auto;
    color: #FFFFFF;
   
}

.episodes {
        max-width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.yt-cards iframe{
    /* width: 800px; */
   
    width: 460px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px ;
}
.episodes, .challenge-section {
    /* max-width: 1200px; */
     max-width: 950px;
    margin: 0 auto;
    color: #FFFFFF;
}

.footer-section {
    background-color: #230E3D;
    border-style: none;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding-right: 50px;
}




}

@media screen and (min-width:993px) and (max-width:1200px){
.navbar {
    color: #FFFFFF;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.header1 {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
     background-position:center;
    background-size: cover;
    margin-bottom: 0px;
    border-top: 1px solid #3f1279;
}

.img-box img{
    width: 380px;
    height: 380px;
}
.microphone img{
    width: 130px;
    height: 190px;
}

.circle {
    top: -180px;
    bottom: 0px;
    left: -200px;
    right: 0px;
    padding-left: 0px;
}
.microphone {
        position: absolute;
        top: 300px;
        left: 545px;
    }
    .new {
    position: absolute;
    top: 250px;
    left: 705px;
}
.grid-card {
    max-width: 1150px;
    margin: 0 auto;
    color: #FFFFFF;
   
}
.episodes {
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.yt-cards iframe{
    /* width: 800px; */
   
    width: 365px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px ;
}

.footer-section {
    background-color: #230E3D;
    border-style: none;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* margin-bottom: 32px; */
    
 margin-bottom: 15px;
padding-right: 60px;
}
}


 
 