@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

/* shared style */
.content{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
}

.none{
    display: none;
}
.btn{
      background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-radius: 10000px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 600;
    gap: 4px;
}
.btn1{
   background-color: transparent;
    padding: 12px 20px;
    border-radius: 10000px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00FF88;
    border: 1px solid #00FF88;
    font-weight: 600;
    gap: 4px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}

header, .Podcast,  .Features, .Host{
     background-color: #1A0B2E;
     padding-top: 30px;
     padding-bottom: 30px;
      border-bottom: 1px solid rgb(173, 170, 170);
      border-style: none;
   
}




.navbar{
  
    color: #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-head span {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text; 
    color: transparent; 
}


 .option li {
    list-style: none;
    margin-left: 32px;
}
 .option li a{
    text-decoration: none;
    color: #ffffffe5;
 }

 .nav-btn{
    display: inline;
   

 }
 .hamburger-menu{
    display: none;
 }


.btn-section{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.banner-content{
    color: #FFFFFF;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}




/* Podcast section */

.podcast-content{
    color: #FFFFFF;
    max-width: 720px;
    margin: 50px auto 30px auto;
    justify-content: center;
    text-align: center;

}
.podcast-content h1{
    color: #FFFFFF;
   font-size: 3rem;
   font-weight: bold;

}

.paragraph{
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

hr{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #848080 ;
}

.rating{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
   
}

.rating-card {
max-width: 240px;
margin: 0 auto;
}
.rating-card h1{
color: #00FF88;
font-size: 3rem;
margin-top: 50px;
margin-bottom: 16px;
}




/* Choose-Techwave section */

.Choose-Techwave{
     background-color: #230E3D;
     border-style: none;
     padding-bottom: 120px;
}
 .grid-card{
    max-width: 1200px;
     margin: 0 auto;
   color: #FFFFFF;
}

.choose-h2{
   padding-top: 120px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
   
}

.grid-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}


.box img,h2,p{
    margin-bottom: 16px;
}



.all-margin h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.all-margin, .yt-cont-padding, .challenge-section, .footer-section p{
    line-height: 24px;
    color: #FFFFFF;
    opacity: .6;
}
.card-1{
   grid-row: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
   padding: 40px;
   display: flex;
    justify-content: center;
    align-items: center;
  

}

.card-2{
       grid-column: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}
.card-3{
       grid-column: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}
.card-4{
       grid-column: span 2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}
.card-5{
      
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 40px;
}


/* 
Features Episodes section */
.Features{
    padding-top: 100px;
    padding-bottom: 100px;
}
.episodes, .challenge-section{
    max-width: 1200px;
     margin: 0 auto;
   color: #FFFFFF;
}
.episodes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
   
}
.yt-cards{
background-color: #250D44;
 border-radius: 20px;

}


.yt-cards iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px ;
}
.yt-cont-padding{
    padding: 24px;
}
.yt-cont-padding h3,p{
    margin-bottom: 12px;
}

.time{
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 10px;
    
}
.time>p{
    color: #00FF88;
}

/* challenge-section */

.challenge-section{
   
display: flex;
justify-content: space-between;
align-items: center;
gap: 24px;
padding: 40px;
background-color: #35116540;
border-radius: 24px;
}
.challenge-section h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.icons{
    
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.icons .images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72 ;
    border-radius: 50%;
    padding-top: 15px;

}
.images img{
    display: flex;
    justify-content: center;
    align-items: center;
       margin-bottom: 16px;
}



/* Footer  section */
.footer-section{

      background-color: #230E3D;
     border-style: none;
     text-align: center;
     padding-bottom: 120px;
     padding-top: 130px;
     background-image: url(../assets/footer-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
}

.footer-section h1{
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}

.footer-per-icons{
   
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-per-icons img{
    margin-bottom: 10px;
}
.fevicon{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-left: 60px;
  gap: 30px;
}

.caption{
    line-height: 24px;
    color: #FAFAFA;
    opacity: .6;
}



















 /* responsive-section */
@media screen  and (max-width:576px) {
/* nav-section */
 .navbar{
    color: #FFFFFF;
    margin: 20px 20px;
    justify-content: space-between;
    align-items: center;
}
 
    .nav-option{
    display: none;
 }

 .hamburger-menu{
    display: inline;
 }

 .nav-btn{
    display: none;
 }





 /* Podcast section */
.podcast-content{
    color: #FFFFFF;
    max-width: 400px;
    margin: 0px auto;
    justify-content: center;
    text-align: center;

}
.content{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.paragraph {
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 20px;
}
hr{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #848080 ;
}
.rating {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     text-align: center;
}
.rating-card {
    max-width: 180px;
    margin: 0 auto;
}
.rating-card h1 {
    color: #00FF88;
    font-size: 2.5rem;
}

/* Choose-Techwave section */
.choose-h2 {
    padding-top: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}
.grid-card{
    max-width: 500px;
     margin: 0 auto;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 16px;
  
   
}

.card-1 {
  grid-row: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2{
       grid-column: span 1;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 24px;
}
.card-3{
       grid-column: span 1;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 24px;
}
.card-4{
       grid-column: span 1;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
    padding: 24px;
}


/* 
Features Episodes section */

.episodes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 400px;
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.yt-cards iframe{
    width: 400px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px ;
}


/* challenge-section */
.challenge-section {
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 40px;
    background-color: #35116540;
    border-radius: 24px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Host {
    background-color: #1A0B2E;
    padding-top: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(173, 170, 170);
    border-style: none;
}

/* footer-section */
.footer-section {
    background-color: #230E3D;
    border-style: none;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.footer-section h1{
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer-icons {
    flex-wrap: wrap;
    max-width: 305px;
    margin: 0 auto;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 24px; */
}
}
 